/* UserSignIn.css */
.user-signin-container {
    background-image: url('../assets/woody.jpg'); /* Add your wood background image path */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; /* Full viewport height */
}

.user-signin-logo {
    width: 800px; /* fixed width of 800px */
    height: 400px; /* fixed height of 400px */
    object-fit: cover; /* ensures the image covers the area without distorting aspect ratio */
}

.user-signin-button {
    background-color: palevioletred; /* A reddish-brown tone for buttons */
    color: white; /* Adjust text color as needed */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Adjust padding as needed */
    margin-top: 10px; /* Space between buttons and other elements */
    border-radius: 5px; /* Rounded corners for buttons */
}

/* Adjust other button states as needed */
.user-signin-button:hover {
    background-color: mediumvioletred; /* Darker shade for hover state */
}
